.localization-tooltip {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: #04517bba;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding-left: 15px;
  color: #fff;

  &-text {
    padding: 5px;
    margin-right: 15px;
    max-width: 150px;

    em {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  &-actions {
    button {
      border-radius: 0;
      mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        line-height: 15px;
      }
    }
  }
}
