mat-list-item {
  cursor: pointer;

  img {
    align-self: flex-start;
    width: 60px !important;
    height: 60px !important;
  }

  p.description {
    width: calc(100% - 100px) !important;
    margin-bottom: 0;
  }
}
