<div class="row video-container">
  <div class="col-md-4">
    <app-video-box (click)="handleView()"></app-video-box>
  </div>
  <div class="col-md-4">
    <app-video-box (click)="handleView()"></app-video-box>
  </div>
  <div class="col-md-4">
    <app-video-box (click)="handleView()"></app-video-box>
  </div>
  <div class="col-md-4">
    <app-video-box (click)="handleView()"></app-video-box>
  </div>
  <div class="col-md-4">
    <app-video-box (click)="handleView()"></app-video-box>
  </div>
  <div class="col-md-4">
    <app-video-box (click)="handleView()"></app-video-box>
  </div>
</div>
