<div>
  <iframe
    width="100%"
    height="300"
    src="https://www.youtube.com/embed/IOrnpaePIXY"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <h4 class="text-bold">VIDEO NAME</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur cupiditate doloremque eaque excepturi ipsa laborum magni natus suscipit
    tempora.
  </p>
  <div class="d-flex align-items-center justify-content-between">
    <small class="text-secondary">Name Surname</small>
    <small class="text-secondary">01.10.2022</small>
  </div>
</div>
