<div class="row">
  <div class="col-md-4">
    <mat-form-field>
      <mat-label localization>Select category</mat-label>
      <mat-select>
        <mat-option>1</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <mat-form-field>
      <mat-label localization>Filter bu author</mat-label>
      <mat-select>
        <mat-option>1</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <mat-form-field>
      <mat-icon matSuffix>search</mat-icon>
      <mat-label localization>Search by keyword</mat-label>
      <input type="text" matInput />
    </mat-form-field>
  </div>
  <div class="col-12 mb-2">
    <mat-divider></mat-divider>
  </div>
</div>
