<div class="row">
  <div class="col-12">
    <app-forum-box (click)="handleView()"></app-forum-box>
  </div>
  <div class="col-12">
    <app-forum-box (click)="handleView()"></app-forum-box>
  </div>
  <div class="col-12">
    <app-forum-box (click)="handleView()"></app-forum-box>
  </div>
  <div class="col-12">
    <app-forum-box (click)="handleView()"></app-forum-box>
  </div>
  <div class="col-12">
    <app-forum-box (click)="handleView()"></app-forum-box>
  </div>
  <div class="col-12">
    <app-forum-box (click)="handleView()"></app-forum-box>
  </div>
  <div class="col-12">
    <app-forum-box (click)="handleView()"></app-forum-box>
  </div>
</div>
