@import 'variable';

.text {
  /*COLOR*/
  &-secondary {
    color: $text-secondary !important;
  }
  &-white {
    color: $bg-light !important;
  }
  &-primary-red {
    color: $text-primary-red !important;
  }

  /*WEIGHT*/
  &-bold {
    font-weight: bold !important;
  }

  /*WRAP*/
  &-nowrap {
    white-space: normal !important;
  }
}
