$primary-color: #00c898;
$bg-light: #ffffff;
$bg-secondary: #f3f3f3;

$text-secondary: #909090;
$text-primary-red: #fb7575;

$black-opacity: #0000006b;
$white-opacity: #ffffff61;

//LAYOUT
$header-height: 100px;
