@import 'reset';
@import 'bootstrap-grid';
@import 'material-reset';
@import 'variable';
@import 'media-queries';
@import 'button';
@import 'text';
@import 'size';
@import 'scrollbar';
@import 'font';

body {
  font-family: sans-serif;
  font-size: 12px;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(244.53deg, #00c898 0%, #2bd7c2 100%);
  background-color: $primary-color;
}

mat-drawer-content {
  background: linear-gradient(244.53deg, #00c898 0%, #2bd7c2 100%);
  background-color: $primary-color;
}
.container {
  @include desktop() {
    margin: 0 0 0 170px;
    max-width: calc(100% - 170px);
    padding: 0;
  }
}
