@import 'reset';
@import 'bootstrap-grid';
@import 'material-reset';
@import 'variable';
@import 'media-queries';
@import 'button';

body {
  font-family: sans-serif;
  font-size: 14px;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(244.53deg, #00c898 0%, #2bd7c2 100%);
  background-color: $primary-color;
}

.container {
  outline: 1px dashed red;

  @include desktop() {
    margin: 0 0 0 230px;
    max-width: calc(100% - 230px);
    padding: 0;
  }
}
