<mat-form-field class="w-100 px-3">
  <input type="text" matInput #search placeholder="Type keyword" />
</mat-form-field>
<mat-tab-group #tabGroup mat-stretch-tabs>
  <mat-tab>
    <ng-template matTabLabel>
      <span>Created</span>
    </ng-template>
<!--    <ng-template matTabContent>-->
<!--      <mat-nav-list>-->
<!--        <mat-list-item *ngFor="let word of $wordsFiltered | async">-->
<!--          <a matLine>{{ word.keyword }}</a>-->
<!--          <button mat-icon-button (click)="edit(word)" color="primary">-->
<!--            <mat-icon>edit</mat-icon>-->
<!--          </button>-->
<!--          <mat-divider></mat-divider>-->
<!--        </mat-list-item>-->
<!--      </mat-nav-list>-->
<!--    </ng-template>-->
  </mat-tab>
  <mat-tab>
    <ng-template matTabLabel>
      <span>Not Created</span>
    </ng-template>
    <ng-template matTabContent>
<!--      <mat-nav-list>-->
<!--        <mat-list-item *ngFor="let word of ($wordsFiltered | async)">-->
<!--          <a matLine>{{ word.keyword }}</a>-->
<!--          <button mat-icon-button (click)="createSimple(word)" color="primary">-->
<!--            <mat-icon>add</mat-icon>-->
<!--          </button>-->
<!--          <mat-divider></mat-divider>-->
<!--        </mat-list-item>-->
<!--      </mat-nav-list>-->
    </ng-template>
  </mat-tab>
</mat-tab-group>
