<div class="container" #container>
  <ui-header></ui-header>
  <mat-sidenav-container autosize class="example-container" [hasBackdrop]="false">
    <mat-sidenav [opened]="false" [style.width.px]="container.clientWidth / 2" position="end" #sidenav mode="push">
      <aside>
        <ui-comment-chat></ui-comment-chat>
      </aside>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <nav>
          <ui-sidebar></ui-sidebar>
        </nav>
        <section [style.width.px]="sidenav.opened ? container.clientWidth / 2 : null">
          <ng-content></ng-content>

          <div class="bottom-bar--wrapper">
            <div class="bottom-bar">
              <h1 class="mb-0">REKLAMLAR</h1>
            </div>
          </div>
        </section>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
