<div>
  <div class="img-wrapper">
    <mat-icon>play_arrow</mat-icon>
    <img class="img-cover" src="https://img.youtube.com/vi/WIv3dLiB0h8/0.jpg" height="200" width="100%" alt="video" />
  </div>
  <h4 class="text-bold">VIDEO NAME</h4>
  <p class="text-cut max-line-2">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur cupiditate doloremque eaque excepturi ipsa laborum magni natus suscipit
    tempora.
  </p>
  <div class="d-flex align-items-center justify-content-between">
    <small class="text-secondary">Name Surname</small>
    <small class="text-secondary">01.10.2022</small>
  </div>
</div>
