@import 'variable';

.button {
  &-group {
    > * {
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  &-white {
    border-color: $bg-light !important;
    color: $bg-light !important;
  }
}

button {
  &.rounded {
    &-pill {
      border-radius: 30px;
    }
  }
}
