<mat-card>
  <div class="row">
    <div class="col-12">
      <button class="button button-back" (click)="back()">
        <mat-icon>navigate_before</mat-icon>
        Back
      </button>
    </div>
    <div class="col-12">
      <app-post-content></app-post-content>
    </div>
  </div>
</mat-card>
<div class="row">
  <div class="col-12">
    <div class="d-flex align-items-center justify-content-between mt-3">
      <strong class="text-primary-red">Category: Fishing</strong>
      <div class="post-toolbar--action">
        <button mat-button>
          Share
          <mat-icon>share</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>thumb_up</mat-icon>
          25551
        </button>
        <button mat-button>
          <mat-icon>thumb_down</mat-icon>
          1
        </button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <mat-divider class="mt-3 mb-2"></mat-divider>
  </div>
  <div class="col-12 mt-1">
    <!--    <mat-divider inset class="my-3"></mat-divider>-->
    <div class="user">
      <mat-list>
        <mat-list-item>
          <img class="user-avatar" src="https://cdn.iconosquare.com/assets/img/about/ig-team/cordelia-teague-square.jpg?v=0.1.013" alt="" mat-list-avatar />
          <p mat-line class="text-bold">Author: Name Surname</p>
          <p mat-line>School Teacher</p>
        </mat-list-item>
      </mat-list>

      <div class="user-action">
        <button mat-button><mat-icon>favorite_border</mat-icon></button>
        <button mat-raised-button color="warn" class="rounded-pill">Subscribe</button>
      </div>
    </div>
  </div>
</div>
