<div class="wrapper">
  <div class="row">
    <div class="col-12">
      <h1 localization class="text-primary text-bold">Haqqimizda</h1>
    </div>
    <div class="col-12">
      <p localization>Biz kimik? Bu sayt kim üçündür?</p>
      <p localization>
        Biz cəmiyyətimizin və ölkəmizin gələcəyi üçün məsuliyyət hissi ilə yaşayan bir qrup vətəndaşıq. Aramızda elmlər nazmizədləri və magirstrlar,
        İKT mütəxəssisləri və psixoloqlar, jurnalistlər və pedaqoqlar, aktyorlar və həkimlər var. Biz hamımız cəmiyyətimizin ən zərif və ən zəyif
        parçası olan cavan qızlarımızı və qadınlarımızı düşünərək, onlar üçün bir platform yaratmaq qərarına gəlmişik. Bu platform vasitəsilə bir çox
        mühum mövzulara toxunub, bu məsələlər barədə düşüncə tərzimizi dəyişmək istərdik. Bunlad hansı mövzulardır? Qızların və qadınların sosial
        statusu, ailədə rolu, müstəqil qərarvermə imkanları və bacarıqları, həyat mahiyyətli seçimləri mövcudluğu, qızların arzuları, qadınların
        ümidləri, yaşamaq istədikləri həyat üçün dəstəyin olub-olmaması, təhsilin əlçatanlığı, səhiyyə xidmətlərinin əlçatanlığı, psxioloji dəstəyin
        mövcudluğu, dəstək üçün müraciət etmə mümkünlüyüynün vacibliyi və digər əhəmiyyətli məsələlərdir. Bu sayt vasitəsilə biz bütün bu mövzulara
        sadəcə toxunmayacayıq, biz bu mövzuların təsvir etdiyi vəziyyətdə olan qızlar və cavan qadınlarımız üçün dəstəyin alınması üçün imkanlar
        yaratmaq istəyirik. Çünki bütün dünya çoxdan anladı ki, qızların və qadınların gücləndirilməsi ədalətli, inklüziv, firavan və sülhsevər bir
        cəmiyyətin qurulması üçün ən mühum amillərdən biridir.
      </p>
      <p>
        <span localization>Partnyorlar barədə məlumat… </span> <br />
        <span localization>Bu işi həyata keçirilməsi üçün biz bir neçə qurum ilə əməkdaşlıq qurmaq üçün addımlar atmışıq və…</span>
      </p>
      <p>
        <span localization>Bu sayt bir resursdur.</span> <br />
        <span localization>Saytın kompozisiyası barədə məlumat…</span>
      </p>
      <div>
        <span localization class="text-primary">sənYOXdeyəbilərsən</span>
        <span localization>adlandırmışıq platformanı. Niyə YOX? Daha doğrusu nəyə YOX?</span>
        <ul>
          <li localization>Sənin əvəzinə, səndən rəy soruşmadan, sənin düşündüyün ilə maraqlanmadam verilən qərarlara.</li>
          <li localization>Sənin üçün ən yaxşı</li>
          <li localization>və digər bu kimi elanlar</li>
        </ul>
      </div>
    </div>
  </div>
</div>
